.video {
    width: 90%;
    aspect-ratio: 16 / 9;
}

body {
    padding: 10px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}